/*

Name:       CASPER GUI stylesheet
Author:     Danny Price
Version:    1.0
Modified:   03 Oct 2011

*/

/* Header */
div#header h1 {
 margin-top: -50px;
 padding: 0;
 float: left;
}

/* Footer */
div#footer img {
   float: right;
   padding-left: 10px;
   margin-top: -40px;
}

/* Bar Charts */
div.progress-container {
  border: 1px solid #ccc; 
  width: 100px; 
  margin: 2px 5px 2px 0; 
  padding: 1px; 
  background: white;
}

div.progress-container > div {
  background-color: #ACE97C; 
  height: 12px
}

div.read_int {
 text-align: center;
 font-size: 72px;
}

.spectrometer_reg {
 width: 120px;
}


/* Pure CSS tooltips - http://psacake.com/web/jl.asp */

a.tip{
    position:relative; /*this is the key*/
    z-index:24;}

a.tip:hover{z-index:25;}

a.tip span{display: none}

a.tip:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:2em; left:2em; width:30em;
    background:#d5edf8;color:#205791;
    border: 2px solid #92cae4;
    text-align: left}

.headtext {
padding-top: 90px;
}

.centertext {
text-align: center;
}

/* plot_snap stuff */
.fmt_sel {display: inline; text-align: left; float:left;}
.byte_sel{display: inline; text-align: right; float: right;}

#placeholder {
margin: 0 auto;
margin-top: 50px;
width:600px;
height:400px;
}
